
<div id="chart_div" style="width: 1200px; height: 600px;"></div>

<div id="buttons">
<%= link_to "BTC/ETH", exchange_path( :x => @exchange, :p => "BTC_ETH" ), { :class=>"exchange_button" } %><br><br><br>
<%= link_to "BTC/XMR", exchange_path( :x => @exchange, :p => "BTC_XMR" ), { :class=>"exchange_button" } %><br><br><br>
<%= link_to "BTC/DASH", exchange_path( :x => @exchange, :p => "BTC_DASH" ), { :class=>"exchange_button" } %><br><br><br>
<%= link_to "BTC/LTC", exchange_path( :x => @exchange, :p => "BTC_LTC" ), { :class=>"exchange_button" } %><br><br><br>
<%= link_to "BTC/XRP", exchange_path( :x => @exchange, :p => "BTC_XRP" ), { :class=>"exchange_button" } %><br><br><br>
<%= link_to "BTC/ZEC", exchange_path( :x => @exchange, :p => "BTC_ZEC" ), { :class=>"exchange_button" } %><br><br><br>
<%= link_to "BTC/SC", exchange_path( :x => @exchange, :p => "BTC_SC" ), { :class=>"exchange_button" } %>
</div>

<div id="candles" data-temp="<%= @candles.to_json %>" />
<div id="exchange" data-temp=<%= raw @exchange.to_json %> />
<div id="pair1" data-temp=<%= raw @pair1.to_json %> />
<div id="pair2" data-temp=<%= raw @pair2.to_json %> />